<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <category
            id="org.eclipse.tracecompass.incubator.jpftrace.core"
            name="Java Path Finder Trace Format">
      </category>
      <type
            category="org.eclipse.tracecompass.incubator.jpftrace.core"
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.eclipse.tracecompass.incubator.jpftrace.core"
            isDirectory="false"
            name="Java Path Finder Trace"
            trace_type="org.eclipse.tracecompass.incubator.internal.jpftrace.core.trace.JpfTrace">
      </type>
      <experiment
            category="org.eclipse.tracecompass.incubator.jpftrace.core"
            experiment_type="org.eclipse.tracecompass.incubator.internal.jpftrace.core.trace.JpfTraceExperiment"
            id="org.eclipse.tracecompass.incubator.jpftrace.core.experiment"
            name="%jpftrace.experiment.name">
      </experiment>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.tracecompass.incubator.internal.traceevent.ui.view.life.ObjectLifeView"
            class="org.eclipse.tracecompass.incubator.internal.traceevent.ui.view.life.ObjectLifeView"
            icon="icons/life.png"
            id="org.eclipse.tracecompass.incubator.traceevent.ui.view.life.objectlife.view"
            name="Object Lifespan Tracker"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="org.eclipse.tracecompass.tmf.ui.analysis.TmfAnalysisViewOutput"
            id="org.eclipse.tracecompass.incubator.jpftrace.core.view">
         <analysisModuleClass
               class="org.eclipse.tracecompass.incubator.internal.traceevent.core.analysis.objectlife.ObjectLifeAnalysis">
         </analysisModuleClass>
      </output>
   </extension> -->

</plugin>
